.red{
    background-color: rgba(216, 29, 29, 0.45);
}

.blue{
    background-color: green;
}

.flex1{
    justify-content: space-between;
}



img{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.a11{
    margin-top: 5px;
}