.red{
    background-color: rgb(216, 29, 29);
}

.blue{
    background-color: green;
}

.flex1{
    justify-content: space-between;
}



img{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.row h1 , .row h5{
    text-align: center;
}


.a11{
    margin-top: 5px;
}

.cont{
    width: auto;
    margin: 0 auto;
}

#img11{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.mwi{
    width: 60vw;
    margin: 0 auto;
}

.autom{
    display: block;
    margin: 0 auto;
}



.cont1 p{
    border-bottom: 2px black solid;
    padding: 5px;
}

.color1{
    background-color: green;
}

.font1{
    font-size: 10px;
}




@media screen and (max-width: 900px) {
    
    .col-4{
        flex-basis: 50%;
    }


}

@media screen and (max-width: 600px) {
    


    .col-4{
        flex-basis: 100%;
    }

    .col, .col-3{
        flex-basis: 100%;
    }

    

}