.head1{
    background-color: rgba(58,84,109,255);
}

.foot1{
    background-color: rgba(44,62,80,255);
}
.colore11{
    color: white;
}

.colorebv{
    background-color: rgba(26,188,156,255);
    color: white;
}

.flex1{
    justify-content: space-between;
}

.menu-container{
    display: none;
}

img{
    display: block;
    width: 25vw;
    height: auto;
    margin: 0 auto;
}

.row h1 , .row h5{
    text-align: center;
}

.linea{
    border-bottom: 1px solid black;
}
.a11{
    margin-top: 13px;
}

.cont{
    width: auto;
    margin: 0 auto;
}

#img11{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.mwi{
    width: 60vw;
    margin: 0 auto;
}

.autom{
    display: block;
    margin: 0 auto;
}



.cont1 p{
    border-bottom: 2px black solid;
    padding: 5px;
}



.font1{
    font-size: 10px;
}






@media screen and (max-width: 768px) {
    
    .right-h {
        display: none;
    }

    .menu-container {
        margin-left: 0;
        position: relative;
        display: block;
      }
    
      .menu-container ul {
        display: flex;    
        display: none;
        position: absolute;
        right: 15px;
        top: 31px;
        background-color: white;
        
      }
  
      ul{
          list-style: none;
      }
  
      .menu-container:hover ul {
          display: block;
          display: inline;
        }
    
      .menu-container .separator {
        margin-right: auto;
      }

        .a11{
            scale: 2;
        }
}

